/* users/static/users/css/style.css */

body {
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(75, 125, 127);
}

header {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.site-header {
    background-color: transparent;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.logo {
    font-family: 'Pacifico', sans-serif;
    color: orange;
    /* Замените khaki на orange или другой цвет */
    font-size: 24px;
    text-decoration: none;
    margin-right: auto;
}

.logo:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.logo-text {
    color: orange;
}

.logo-text:hover {
    color: white;
    transition: 1s;
}

.menu-item {
    margin-left: 20px;
}

.menu-item:hover {
    transform: scale(1.15);
    transition: transform 0.3s;
}

.menu-item a {
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: khaki;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu-item a:hover {
    color: rgb(129, 213, 255);
}

.register-container {
    font-family: 'Orbitron', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(129, 213, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 0px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form {
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form input {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: blue;
    padding: 10px;
    border: 0px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

table td {
    padding: 8px;
}

button {
    width: 200px;
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    background-color: khaki;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(232, 209, 3);
}

footer {
    text-align: center;
    padding-top: 20px;
}