<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LinguaBot{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/snow.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script>
</head>

<body>
    <script>
        new Snow();
    </script>
    <header class="site-header">
        <ul class="menu">
            <li class="logo">
                <a href="{% url 'home' %}">
                    <p class="logo-text">LinquaBot</p>
                </a>
            </li>
            {% if not user.is_authenticated %}
            <li class="menu-item"><a href="{% url 'register' %}">Register</a></li>
            <li class="menu-item"><a href="{% url 'login' %}">Login</a></li>
            {% else %}
            <li class="menu-item"><a href="{% url 'user_profile' %}">Profile</a></li>
            <li class="menu-item"><a href="{% url 'logout' %}">Logout</a> </li>
            {% endif %}
        </ul>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; Copyright 2023 Powered by INK</p>
    </footer>

</body>

</html>